.git
.scratch
.venv
venv
__pycache__
*.pyc
.env
.env.prod
media
private_media
staticfiles
*.sqlite3
.pytest_cache
.mypy_cache
htmlcov
README.md
docs
LICENSE
infra/.terraform
**/.terraform
*.tfstate
.impeccable
